
{% extends "booking/layout.html" %}

{% block body %}



    <section class="section__container booking__container">
        <form action="{% url 'check_availability' %}#check-availability" method="POST" class="booking__form">
            {% csrf_token %}
            <div class="input__group">
                <span><i class="ri-calendar-2-fill"></i></span>
                <div>
                    {{ form.check_in.label_tag }}
                    {{ form.check_in }}
                </div>
            </div>
            <div class="input__group">
                <span><i class="ri-calendar-2-fill"></i></span>
                <div>
                    {{ form.check_out.label_tag }}
                    {{ form.check_out }}
                </div>
            </div>
            <div class="input__group">
                <span><i class="ri-user-fill"></i></span>
                <div>
                    {{ form.room_type.label_tag }}
                    {{ form.room_type }}
                </div>
            </div>
            <div class="input__group input__btn">
                <button class="btn" type="submit">Check Availability</button>
            </div>
        </form>
    </section>

    <section class="section__container about__container" id="about">
      <div class="about__image">
        <img src="static/booking/assets/about.jpg" alt="about" />
      </div>
      <div class="about__content">
        <p class="section__subheader">ABOUT US</p>
        <h2 class="section__header">Your Perfect Escape Awaits!</h2>
        <p class="section__description">
          Welcome to our luxury hotel, where the stunning view of Mt. Fuji and our rejuvenating onsen create an unforgettable experience. With a focus on quality accommodations, personalized services, and seamless booking, we are dedicated to ensuring that every traveler embarks on their dream holiday with confidence and excitement.
        </p>
        <div class="about__btn">
          <button class="btn">Read More</button>
        </div>
      </div>
    </section>

    <section class="section__container room__container">
      <p class="section__subheader">OUR LIVING ROOM</p>
      <h2 class="section__header">The Most Memorable Rest Time Starts Here.</h2>
      <div class="room__grid">
        <div class="room__card">
          <div class="room__card__image">
            <img src="https://i.ibb.co/1993Cgx/8-3p5rc-RVh-TIRFZY5.png" alt="Standard Japanese Room" />
            <div class="room__card__icons">
              <span><i class="ri-heart-fill"></i></span>
              <span><i class="ri-paint-fill"></i></span>
              <span><i class="ri-shield-star-line"></i></span>
            </div>
          </div>
          <div class="room__card__details">
            <h4>Standard Japanese Room</h4>
            <p>Bask in luxury with breathtaking views from your room.</p>
            <h5>Starting from <span>$100/night</span></h5>
            <a href="{% url 'room_details' room_id=1 %}#room-details" class="btn">Details</a>
          </div>
        </div>
        <div class="room__card">
          <div class="room__card__image">
            <img src="https://i.ibb.co/hKThc5V/8-n-SUOv58u-Iu-GO9-RT.png" alt="Executive Fuji Room" />
            <div class="room__card__icons">
              <span><i class="ri-heart-fill"></i></span>
              <span><i class="ri-paint-fill"></i></span>
              <span><i class="ri-shield-star-line"></i></span>
            </div>
          </div>
          <div class="room__card__details">
            <h4>Executive Fuji Room</h4>
            <p>Experience Mt Fuji elegance and modern comfort.</p>
            <h5>Starting from <span>$199/night</span></h5>
            <a href="{% url 'room_details' room_id=2 %}#room-details" class="btn">Details</a>
          </div>
        </div>
        <div class="room__card">
          <div class="room__card__image">
            <img src="https://i.ibb.co/4g0zv6j/8-GZh-ZEx-Jyyr4exs-X.png" alt="Onsen Mt. Fuji Retreat" />
            <div class="room__card__icons">
              <span><i class="ri-heart-fill"></i></span>
              <span><i class="ri-paint-fill"></i></span>
              <span><i class="ri-shield-star-line"></i></span>
            </div>
          </div>
          <div class="room__card__details">
            <h4>Onsen Mt. Fuji Retreat</h4>
            <p>Spacious and inviting, perfect for creating cherished memories with loved ones.</p>
            <h5>Starting from <span>$500/night</span></h5>
            <a href="{% url 'room_details' room_id=3 %}#room-details" class="btn">Details</a>
          </div>
        </div>
      </div>
    </section>
    

    <section class="service" id="service">
      <div class="section__container service__container">
        <div class="service__content">
          <p class="section__subheader">SERVICES</p>
          <h2 class="section__header">Strive Only For The Best.</h2>
          <ul class="service__list">
            <li>
              <span><i class="ri-shield-star-line"></i></span>
              High Class Security
            </li>
            <li>
              <span><i class="ri-24-hours-line"></i></span>
              24 Hours Room Service
            </li>
            <li>
              <span><i class="ri-headphone-line"></i></span>
              Conference Room
            </li>
            <li>
              <span><i class="ri-map-2-line"></i></span>
              Tourist Guide Support
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="section__container banner__container">
      <div class="banner__content">
        <div class="banner__card">
          <h4>25+</h4>
          <p>Properties Available</p>
        </div>
        <div class="banner__card">
          <h4>350+</h4>
          <p>Bookings Completed</p>
        </div>
        <div class="banner__card">
          <h4>600+</h4>
          <p>Happy Customers</p>
        </div>
      </div>
    </section>

    <section class="explore" id="explore">
      <p class="section__subheader">EXPLORE</p>
      <h2 class="section__header">What's New Today.</h2>
      <div class="explore__bg">
        <div class="explore__content">
          <p class="section__description">10th MAR 2023</p>
          <h4>A New Menu Is Available In Our Hotel.</h4>
          <button class="btn">Continue</button>
        </div>
      </div>
    </section>

    {% endblock %}

